body {
    background: url('../img/background01.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto-Light', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
}

a {
    color: #5ED2F1;
    cursor: pointer;
}

.card-container {
    min-height: 300px;
    margin: auto;
    display: block;
    min-width: 320px;
    max-width: 370px;
}

.footer {
    width: 100%;
    text-align: right;
    color: #000;
}

.footer .footer-nav-items a {
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    text-align: right;
    color: #000;
}

.card-container2 {
    margin: auto;
    display: block;
    max-width: 860px;
}

.card-container.card {
    background: rgba(90, 90, 90, 0.7);
    border-radius: 10px;
}

.logo_student {
    background: url('../img/logo_student.png') no-repeat center center;
    width: 300px;
    height: 101px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.btn-signin {
    background-color: #5ED2F1;
    color: #5ED2F1;
}

.btn-secondary {
    font-weight: normal;
    font-size-adjust: inherit;
    font-size: 13px;
    background-color: #938c90;
    border: 0;
}

.btn-danger {
    font-weight: normal;
    font-size-adjust: inherit;
    font-size: 13px;
    background-color: #df553d;
    border: 0;
}

#login-account {
    color: #fff;
    font-weight: normal;
    text-align: right;
    font-size-adjust: inherit;
    font-family: 'Roboto-Condensed-Light', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    font-size: 13px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

/*
 * Card component
 */
.card {
    background-color: #eff0f2;
    opacity: 0.9;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 20px auto 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 9px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin input[type=date],
.form-signin button {
    width: 95%;
    opacity: 0.84;
    color: #000;
    display: block;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    font-family: 'Roboto-Condensed-Regular', Helvetica, Arial, sans-serif;
    margin: 10px;
}

input[type="search"] {
    width: 150px;
    border: 0.3pt #0c0c0c solid;
    opacity: 0.84;
    min-height: 24px;
    box-sizing: border-box;
    padding-left: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.form-signin input[placeholder] {
    font-family: 'Roboto-Condensed-Light', Helvetica, Arial, sans-serif;
}

.form-signin button {
    opacity: 1;
}

.form-signin label {
    text-transform: capitalize;
    color: #5ED2F1 !important;
    line-height: 1px;
    margin-left: 20px;
    float: left;
}

.form-group.required .control-label:after {
    content: "*";
    color: #5ED2F1;
}

.form-signin .form-control:focus {
    border-color: #5ED2F1;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #5ED2F1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #5ED2F1;
}

.available-email {
    color: #5ED2F1;
    border: 1px solid;
    width: 100%;
    text-align: center;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
}

.unavailable-email {
    color: #eff0f2;
    border: 1px solid;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
}

.btn.btn-signin {
    color: #fff;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
}

.footer {
    margin-top: 25px;
}

.page-footer {
    color: #fff;
}

.page-footer a {
    color: #fff;
}

.help-block {
    font-size: 11px;
    color: #000;
    float: right;
    right: -10px;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.forgot-password {
    font-size: 11px;
    float: right;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}

/*selects*/
.adv-select {
    min-width: 160px;
}

/*navbar for app*/
#main-nav {
    margin-top: 0;
    height: 105px;
    background-color: #383A46;

}

.left-nav {
    margin-left: 10px;
    color: #eff0f2;
}

@media (max-width: 530px) {
    #main-nav {
        padding-top: 10px;
        height: 205px;
    }

    .home-page {
        padding-top: 123px;
    }
}

.right-nav {

}

.nav-items {
    color: #eff0f2;
    display: inline;
    float: left;
}

.nav-items span, .footer-nav-items span {
    padding: 10px 20px 10px 2px;
}

.nav-items a {
    font-weight: bold;
    color: #eff0f2;
}

#nav-logo {
    background: url('../img/logo_student.png') no-repeat;
    background-size: 150px 45px;
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 45px;
    top: 2px;
}

#nav-selects {
    width: 200px;
    position: absolute;
}

/*profile section*/

.profile-activity {
    top: 1px;
    padding: 5px 1px;
    position: relative;
}

.profile-activity h1, img {
    float: left;
    border-radius: 100%;
    max-width: 47px;
    margin-right: 10px;
    margin-left: 0;
    box-shadow: none
}

#user-logged {
    color: #eff0f2;
    min-width: 300px;
}

#user-logged img {
    border: 0.1rem solid #f0fafb;
}

#user-logged #user-info {
    padding-top: 10px;
}

#user-logged span {
    display: block;
}

#user-picture{
    float: left;
    padding:8px
}
#user-picture img{
    display: inline;
    margin: 2px;
}

#app2 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#383a46+0,eff0f2+100 */
    background: #383a46; /* Old browsers */
    background: -moz-linear-gradient(top, #383a46 0%, #eff0f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #383a46 0%, #eff0f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #383a46 0%, #eff0f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383a46', endColorstr='#eff0f2', GradientType=0); /* IE6-9 */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding-bottom: 40px;
}

/*homepage*/
.home-page {
    padding-top: 13px;
}

.card-border {
    padding: 5px 7px 5px 18px;
    border: 5px solid transparent;
}

.home-page section {
    background-color: #eff0f2;
    padding: 19px 15px 11px 10px;
    width: 96%;
    height: 100%;
    min-height: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.home-page section div {
    padding: 1px 11px 5px 11px;
}

.content-home {
    padding: 8px 8px 8px 0;
}

.subtext {
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

.reactive {
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    color: #00ccff;
}

h2 {
    text-transform: capitalize;
    font-size: 13px;
    text-decoration: underline;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    margin: 0 0 14px 8px;
}

/*classroom*/

.cn-grid table{
    border: 0;
}
.cn-grid td{
    cursor: pointer;
}
.cn-grid th{
    color: #000;
    font-weight: bolder;
}

.nav-link {
    font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

#classroom-content {
    min-height: 400px;
    width: 98%;
    background-color: #eff0f2;
    padding: 16px 15px 20px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#classroom-tabs {
    margin-top: 12px;
    width: 95%;
}

.module-item {
    padding: 10px 2px 12px 8px;
    cursor: pointer;
}

.module-item:hover {
    color: #00ccff;
    border: 1px solid #666;
    border-radius: 5px;
}

.current-module {
    background-color: #5ED2F1;
    border: 1px solid #eff0f2;
    cursor: default;
    border-radius: 5px;

}

.current-module:hover {
    color: #000;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
    padding-top: 15px;
}

#sidebar {
    min-width: 290px;
    max-width: 290px;
    background-color: #eff0f2;
    padding: 17px 16px 11px 16px;
    margin-right: 14px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    height: 100%;
    position: sticky;
    top: 30px;
}

#sidebar.active {
    margin-left: -295px;
    transform: rotateY(100deg);
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 71vh;
    transition: all 0.3s;
}

.content-header{
    margin-bottom: 30px;
}

#topic-selected {
    float: right;
    text-align: right;
    padding: 11px;
    font-weight: bolder;
    max-width: 500px;
}

#sidebarCollapse {
    width: 110px;
    height: 30px;
    margin-left: 8px;
}

#sidebarCollapse span {
    width: 80%;
    margin: 0 auto;
}

#sidebarCollapse.active {
    color: #000000;
}

.modal-title {
    font-size: 14px;
    color: #000;
    font-family: 'Roboto-Bold', Helvetica, Arial, sans-serif;
    padding-top: 5px;
}

.modal-header {
    padding: 11px 16px 11px 17px;
}

.modal-dialog {
    max-width: 527px !important;
}

.to-close {
    font-size: 14px;
    position: relative;
    top: -4px;

}

.modal-body input {
    width: 70%;
    height: 27px;
    font-size: 11px;
    margin-top: 10px;
    border: 1px #8b8b8b solid;
}

.btn {
    border: none;
    font-size: 14px;
}

.btn-primary {
    color: #fff;
    background-color: #5ED2F1;
    border-color: #00ccff;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    border: 1px #6B6B6B solid;
}

/*common container*/
.cn-container {
    background-color: #eff0f2;
    margin: 0 10px 25px 12px;
    padding: 17px 16px 11px 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

/*settings*/
.settings {
    margin-left: 12px;
    padding: 20px 20px 20px 0;
}

.settings .form-group {
    padding-bottom: 6px;
}

.settings .help-block {
    font-size: 11px;
    color: #000;
    float: left;
}

/*picture container*/
.pic-container {
    padding: 20px 20px 20px 30px;
    display: table;
    margin: 0 auto;

}

.cn-container .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00ccff;
}

.cn-container .form-group.required .control-label:after {
    content: " *";
    color: red;
}

.cn-container label {
    font-weight: bold;
}

.cn-container input {
    height: 27px;
    max-width: 270px;
    font-size: 11px;
    border: 1px #8b8b8b solid;
}

.cn-container select {
    max-width: 270px;
    font-size: 11px;
    max-height: 28px;
    border: 1px #8b8b8b solid;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: inherit;
    border-color: #8c9094 #8c9094 #dee2e6;
}

.nav-tabs {
    border-bottom: 1px solid #8c9094;
}

.tab-content {
    margin: 18px 8px 10px 8px;
}

/*teachers*/

.teacher-box .card {
    height: 355px;
    width: 340px;
    float: left;
    margin: 8px 13px 8px 13px;
}

.card-header {
    background-color: #00ccff;
    color: #f0fafb;
    font-weight: bold;
    font-size: 12px;
}

.card-footer {
    text-align: right;
    padding-right: 14px;
    font-size: 20px;
}

.card-footer .msg-to-teacher {
    cursor: pointer;
}

/*inbox and messages*/

#inbox-list {
    width: 75%;
    transition: all 0.3s;
}

.contact-selected {
    height: 27px;
    max-width: 280px;
    font-size: 11px;
    padding: 5px 3px 0 9px;
    border: 1px #8b8b8b solid;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#inbox-picture img, #my-picture img {
    min-width: 75px;
    height: 75px;
    border: 1px solid #2b2b2b;
}

#inbox-picture {
    font-size: 67px;
}

#inbox-read {
    min-width: 590px;
    max-width: 590px;
    max-height: 430px;
    min-height: 380px;
    display: none;
}

#profile-list {
    width: 60%;
    min-width: 340px;
}

#security-list {
    width: 40%;
    min-width: 340px;
}

#inbox-read.active {
    display: inline-block;
}

.inbox-content {
    margin-top: 12px;
    position: relative;
    padding: 10px;
}

.inbox-read-content {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 180px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select2-container {
    min-width: 240px;
}

.est-color{
    color: #00B0E8;
}

.admin-color{
    color: #df553d;
}